@import "root.css";
:root {
	--t1-bg: rgb(12, 121, 29);
	--t2-bg: rgb(2, 117, 136);
	--t3-bg: rgb(4, 151, 95);
	--bit-bg: rgb(0, 55, 185);
}

body {
	background-color: transparent;
	color: #fff;
	font-family: 'Silkscreen';
}

.goal-container {
    margin: 20px auto;
}

.label-container{
	display: flex;
	justify-content: *space-between;
}
.contribution-stats {
	font-size: 17px;
	display: flex;
	justify-content: left;/*space-between;*/
	margin: 0px 15px;
	align-items: bottom;
}

.stat-label {
	border-radius: 9px 9px 0px 0px;
	padding: 0px 20px;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
	height: 100%;
	display: flex;
	margin-right: 5px;
	align-items: center;

}

.stat-container {
	display: flex;
	border: 1px solid #333;
	border-bottom: 0px;
	border-radius: 10px 10px 0px 0px;
	margin: 0px 5px;
	padding-right: 7px;
	background-color: var(--bg-gray);
	box-shadow: 1px 1px 3px rgba(134, 134, 134, 0.5) inset;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	align-items: center;
}

.goal-total-container{
	margin-right:100px;
}
.stat-t1 { background-color: var(--t1-bg); }
.stat-t2 { background-color: var(--t2-bg); }
.stat-t3 { background-color: var(--t3-bg); }
.stat-bits { background-color: var(--bit-bg); }

.segment-t1 { background-color: var(--t1-bg); }
.segment-t2 { background-color: var(--t2-bg); }
.segment-t3 { background-color: var(--t3-bg); }
.segment-bits { background-color: var(--bit-bg); }

.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    border: 1px solid #555;
    display: flex;
	background-color: #ffffff30;
	box-shadow: -1px -1px 5px 1px rgba(134, 134, 134, 0.5) inset;
	text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}

.progress-segment {
    height: 100%;
    transition: width 2s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.goal-total {
	font-size: 28px;
	background-color: #008080;
}

.percent-value{
	color: #fff;
	background-color: #06060673;
	border-radius: 5px;
	padding: 0px 7px 2px 7px;
	margin-left: 5px;
}