:root {
	--text: #c5ede5;
	--bg: #17272bd6;
	--bg-gray: #234740c7;
	--border: #00423e;
	--prime: #00241b;
	--second: #004447;
	--accent: #008DA8;
}

@font-face {
    font-family: 'Silkscreen';
    src: url('/static/fonts/Silkscreen-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Silkscreen Bold';
    src: url('/static/fonts/Silkscreen-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeue';
    src: url('/static/fonts/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'AdvancedPixelLcd';
    src: url('/static/fonts/AdvancedPixelLcd-Regular.ttf') format('truetype');
}

::-webkit-scrollbar {
    width: 3px;               /* width of vertical scrollbar */
    height: 3px;              /* height of horizontal scrollbar */
}

/* Track (background) of the scrollbar */
::-webkit-scrollbar-track {
    background: #2b2b2b;    /* dark background for track */
}

/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
    background: #666;       /* darker grey for the handle */
    border-radius: 4px;       /* rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;       /* slightly lighter on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin;    /* "auto" or "thin" */
    scrollbar-color: #666 #2b2b2b;  /* thumb and track color */
}