<html>
<head>
	<link rel="stylesheet" href="static/css/goals.css">
	<script src="static/js/websocket-utils.js"></script>
	<script src="static/js/goals.js"></script>
</head>
<body>
    <div id="mygoal"></div>
	<script>
		// Create a map to store goal bars
		const goalBars = new Map();

		const ws = createWebSocketConnection('/goalsws', (data) => {
			console.log('Received data:', data); // Debug log
			
			// Get or create the goal bar
			if (!goalBars.has(data.bar)) {
				const goalBar = new GoalBar(data.bar);
				if (goalBar.container) {
					goalBars.set(data.bar, goalBar);
				}
			}
			
			const goalBar = goalBars.get(data.bar);
			if (!goalBar) {
				console.error(`Goal bar "${data.bar}" not found or could not be created`);
				return;
			}

			// Handle the message
			if (data.progress_type === 'total') {
				goalBar.updateGoalTotal(data.amount);
			} else {
				goalBar.updateSegment(data.progress_type, data.amount);
			}
		});
	</script>
</body>
</html>