<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOE UI</title>
	<link rel="stylesheet" href="/static/css/base_ui.css">
    <script src="/static/js/test_ui.js"></script>
</head>
<body>
    <div class="container">
        <div class="card">
            <!-- TEST Bits Section -->
            <h2>TEST channel.bits.use</h2>
            <div class="input-group">
                <input type="number" id="bitsAmount" value="69">
                <label>Bits</label>
            </div>
            <div class="control-group">
                <button onclick="testEvent('channel.bits.use')">Send</button>
            </div>
        </div>
        <div class="card">
            <!-- INJECT Bits Section -->
            <h2>INJECT channel.bits.use</h2>
            <div class="input-group">
                <input type="number" id="injBitsAmount" value="69">
                <label>Bits</label>
            </div>
            <div class="control-group">
                <button onclick="injectEvent('channel.bits.use')">Send</button>
            </div>
        </div>
        <div class="card">
            <h2>channel.chat.notification</h2>
            <div class="input-group">
                <label>Type:</label>
                <select id="noticeType">
                    <option value="sub">Subscription</option>
                    <option value="resub">Resub</option>
                    <option value="sub_gift">Sub Gift</option>
                    <option value="community_sub_gift">Community Sub Gift</option>
                    <option value="gift_paid_upgrade">Gift Paid Upgrade</option>
                    <option value="prime_paid_upgrade">Prime Paid Upgrade</option>
                    <option value="raid">Raid</option>
                    <option value="unraid">Unraid</option>
                    <option value="pay_it_forward">Pay It Forward</option>
                    <option value="announcement">Announcement</option>
                    <option value="bits_badge_tier">Bits Badge Tier</option>
                    <option value="charity_donation">Charity Donation</option>
                </select>
            </div>
            <!-- Base Fields -->
            <div class="input-group">
                <label>User Name:</label>
                <input type="text" id="chatUserName" value="cool_user">
                <label>Message:</label>
                <input type="text" id="userMessage" value="user_message">                
            </div>
            <div class="input-group">
                <input type="color" id="chatColor" value="#555555">
                <label>System Message:</label>
                <input type="text" id="systemMessage" value="system_message">
            </div>
            <!-- Dynamic Fields Container -->
            <div id="dynamicFields"></div>
            <div class="control-group">
                <button onclick="testEvent('channel.chat.notification')">Send Notification</button>
            </div>
        </div>
        <div class="card">
            <!-- Follow Section -->
            <h2>channel.follow</h2>
            <div class="input-group">
                <label>Username:</label>
                <input type="text" id="followUsername" value="cool_user">
            </div>
            <div class="control-group">
                <button onclick="testEvent('channel.follow')">Send Notification</button>
            </div>  
        </div>
        <div class="card">
            <!-- Goal Progress Section -->
            <h2>channel.goal.progress</h2>
            <div class="input-group">
                <label>Type:</label>
                <input type="text" id="goalType" value="bits">
            </div>
            <div class="input-group">
                <label>Current:</label>
                <input type="number" id="goalCurrent" value="50">
                <label>Target:</label>
                <input type="number" id="goalTarget" value="100">
            </div>
            <div class="control-group">
                <button onclick="testEvent('channel.goal.progress')">channel.goal.progress</button>
            </div>
        </div>
        <div class="card">
            <!-- Hype Train Section -->
            <h2>channel.hype_train.progress / end</h2>
            <div class="input-group">
                <label>Level:</label>
                <input type="number" id="hypeLevel" value="1">
                <label>Total:</label>
                <input type="number" id="hypeTotal" value="100">
            </div>
            <div class="input-group">
                <label>Progress:</label>
                <input type="number" id="hypeProgress" value="50">
            </div>
            <div class="control-group">
                <button onclick="testEvent('channel.hype_train.progress')">channel.hype_train.progress</button>
                <button onclick="testEvent('channel.hype_train.end')">channel.hype_train.end</button>
            </div>
        </div>
    </div>
    <div id="statusMessage" class="status-message"></div>
</body>
</html>